{% extends "base.html" %}
{% block title %}Add Expense Member{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="board-card p-4">
            <h1 class="h4">Add Member to {{ expense.title }}</h1>
            <p class="soft-text">Choose a current group member who should share this expense. Shares will be recalculated equally.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Add and Recalculate</button>
                <a class="btn btn-outline-secondary" href="{% url 'expense_detail' expense.pk %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
